<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Add or Edit Item</title>
<meta name="generator" content="Bootply" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/public/css/navbar.css">
<link rel="stylesheet" type="text/css" href="/public/css/shop.css">
<link rel="stylesheet" type="text/css" href="/public/css/main.css">
<link rel="stylesheet" type="text/css" href="/public/css/blog.css">
<link rel="stylesheet" type="text/css" href="/public/css/imagePreview.css">
<link rel="stylesheet" media="screen, print, handheld" type="text/css" href="/public/css/calendar.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/calendar.02.js"></script>
<!--script type="text/javascript" src='js/navbar.js'></script-->
<style type="text/css">
    html,body {
        min-height: 100%;
    }
    #masthead {
        background-size: 115% auto;
    }

    #masthead.start {
        transition: all 3s ease-in-out;
        background-size: 100% auto;
        top: 0;
        left: 0;
        padding-top: 15%;
    }

    @media only screen and (max-width: 768px) {
        #masthead {
            background-size: auto 115%;
        }
        #masthead.start {
            transition: all 5s ease-in-out;
            background-size: auto 100%;
            top: 0;
            left: 0;
            padding-top: 15%;
            /*bottom: 0px;*/
        }
    }

    .controls {
        margin-top: 15px;
        /*vertical-align: middle;*/
    }

    @media (min-width: 979px) {
        #sidebar.affix-bottom {
            position: absolute;
        }
        #sidebar.affix-top {
            position: static;
            /*margin-top: 30px;*/
            /*width: 300px;*/
        }
        #sidebar.affix {
            position: fixed;
            top: 70px;
            /*width: 300px;*/
        }
    }

    #phasebeam {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    #phasebeam canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .introduction .label {
        background-color: #5CB85C;
    }

    .animatedIcon {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: iconAni 2s infinite;
        /* Safari 4+ */
        -moz-animation: iconAni 2s infinite;
        /* Fx 5+ */
        -o-animation: iconAni 2s infinite;
        /* Opera 12+ */
        animation: iconAni 2s infinite;
        /* IE 10+, Fx 29*/
    }

    @-webkit-keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }

    @-moz-keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }

    @-o-keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }

    @keyframes iconAni {
        0% {
            background-color: #FFF;
            margin-top: 0px;
        }
        50% {
            background-color: #5CB85C;
            margin-top: 25px;
        }
        100% {
            background-color: #F0a;
            margin-top: 10px;
        }
    }
.hiddenElem{
    display: none;
}
.hiddenElemSlow{      
   transition:all 3s ease-in-out;
   display: none;
}

</style>

<body style="background-color: rgb(0,0,0)">
    <!-- Dont touch this section -->
    <!-- masthead -->
    <div id="masthead">
        <!-- <div style="height:100%; width: 100%; background-color: rgba(0,0,0,.6)"></div> -->
        <div class="container-fluid">
            <div class="row cover">
                <div class="col-md-6 col-md-offset-1 ">
                    <h1><app-showName id = "showName"><%=title%></app-showName>
                        <!-- <hr style = "border-top: 1px solid rgba(255,255,255,.3)"> -->
                        <p class="lead" ><app-slogan id = "slogan">Shop chuyên hàng hiệu...!</app-slogan></p>
                    </h1>
                </div>
                <!-- <div class="col-md-5" style="padding-right:30px; bottom: 10px; right: 0px; position: absolute;"> -->
                <div class="col-md-5" style="padding:30px">
                    <!-- Primary Advertising Here -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <marketing-message>Giới thiệu</marketing-message>
                        </div>
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                    </div>
                    <!-- /Primary Advertising Here -->
                </div>
            </div>
        </div>
        <!-- /cont -->        
    </div>
    <!-- NavBar -->
    <div id="nav-wrapper">
        <div id="nav" class="navbar navbar-inverse navbar-static-top navbar" role="navigation">
            <div class="container">
                <div class="row">
                    <div>
                        <a id = "backToHome" app-backToHome=true>
                            <img id = "_avatar" class="logo">
                        </a>
                    </div>
                    <div class='site-name hidden-xs' id = "companyName">
                        <!-- AbcJSC -->
                    </div>
                    <div class='navbar-left site-name phone'>
                        <i class="fa fa-phone "></i>
                        <!-- <i class="fa fa-facebook"></i> -->
                    </div>
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <nav class="collapse navbar-collapse " role="navigation">                                            
                        <ul class="nav navbar-nav ">
                            <li class='navbar-right' id ="create_editItem">
                                <a href="#sec">    Creating new Item</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id = "visitor">
                            <li class='navbar-right' id='visitorHolder'>
                                <a href="#sec" id = "fb_login"> <i class="fa fa-facebook fa-2x "></i><span> Login with Facebook</span></a>
                            </li>                            
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- /NavBar -->
    <div class="divider" style="min-height: 75px">
        <div class = 'col-md-12' style="color:#fff">
            <h2>Add or Edit Item..</h2>
        </div>
    </div>
<div class="container-fluid" id="start-offset" style="min-height: 1000px">
    <hr>
    <div class = 'col-md-9'>
        <div style="background-color: #f5f5f5; min-height:1000px" class = 'clearfix'>
            <div class = 'col-md-6'>
                <div style="margin-top: 15px" class="row" > 
                    <span style="margin-bottom: 5px"><b>Tên sản phẩm</b></span>                            
                    <br>
                    <i>Product's Name</i>                
                    <input type="text" class="form-control data-input" id="_productName">            
                </div>
                <div style="margin-top: 15px" class="row">        
                    <span style="margin-bottom: 5px"><b>Xuất xứ sản phẩm</b></span>                            
                    <br>
                    <i>Country of origin</i>          
                    <input type="text" class="form-control data-input" id="_country_ofOrigin">            
                </div>
                <div style="margin-top: 15px" class="row">        
                    <span style="margin-bottom: 5px"><b>Nhản hiệu sản phẩm</b></span>                            
                    <br>
                    <i>Brand Name</i>         
                    <input type="text" class="form-control data-input" id="_brandName">            
                </div>
                <div style="margin-top: 15px" class="row">        
                    <span style="margin-bottom: 5px"><b>Mã sản phẩm</b></span>                            
                    <br>
                    <i>Product ID</i>
                    <input type="text" class="form-control data-input" id="_productId" disabled>            
                </div>
                <div style="margin-top: 15px" class="row">        
                    <span style="margin-bottom: 5px"><b>Mô tả sản phẩm</b></span>                            
                    <br>
                    <i>Product Description</i>
                    <textarea class="form-control" rows="7" id="_productDescription"></textarea>         
                </div>
                <div style="margin-top: 15px" class="row">        
                    <span style="margin-bottom: 5px"><b>Chủng loại sản phẩm</b></span>                            
                    <br>
                    <i>Keywords</i><br><span style = "font-size:75%; color: red"><i> (Sản phẩm có thể có nhiều keyword, đặt cách nhau bằng dấu phẩy ",")</i></span>
                    <input type="text" class="form-control data-input" id="_categories">            
                </div>
                <div class = "col-md-6">
                    <div style="margin-top: 15px" class="row">        
                    <span style="margin-bottom: 5px"><b>Gía sản phẩm trước đây </b></span>
                        <br><span style = "font-size:75%; color: red"><i> (Nhập chữ số thể hiện giá sản phẩm)</i></span>
                        <input type="text" class="form-control data-input" id="_oldPrice">            
                    </div>
                </div>
                <div class = "col-md-6">
                    <div style="margin-top: 15px; margin-bottom: 15px" class="row">        
                        <span style="margin-bottom: 5px"><b>Gía sản phẩm hiện tại</b></span>
                            <br><span style = "font-size:75%; color: red"><i> (Nhập chữ số thể hiện giá sản phẩm)</i></span>
                            <input type="text" class="form-control data-input" id="_newPrice">            
                    </div>
                </div>
                <div class = "col-md-6">
                    <div style="margin-top: 15px; margin-bottom: 15px" class="row">        
                        <span style="margin-bottom: 5px"><b>Đơn vị tính</b></span>                            
                            <br><span style = "font-size:75%; color: red"><i> (đơn vị tính.."kg","chiếc","chục"..vvv)</i></span>
                            <input type="text" class="form-control data-input" id="_unit">            
                    </div>
                </div >
                <div class = "col-md-12">
                    <div style="margin-top: 15px" class="row">        
                        <label><input type="checkbox" id = "_isNewProduct">   Đặt là sản phẩm mới</label>
                        <br><span style = "font-size:75%; color: red"><i> (Bạn chỉ được đặt tối đa 9 sản phẩm mới)</i></span>
                    </div>
                    <div style="padding: 20px"></div>
                    <div style="margin-top: 15px; margin-bottom: 15px" class="row">        
                        <label><input type="checkbox" id = "_isHotProduct">   Đặt là sản phẩm bán chạy nhất</label>
                        <br><span style = "font-size:75%; color: red"><i> (Bạn chỉ được đặt tối đa 16 sản phẩm bán chạy nhất)</i></span>                         
                    </div>
                </div>
                <div class="col-md-12">
                    <div id = "msg_info" class="alert alert-success fade in hiddenElem" style="margin-top: 30px">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close" >&times;</a>
                        <strong>Chúc mừng!</strong>..Sản phẩm của bạn đã được cập nhật. 
                        </div>                    
                </div>
            </div>
            <div class = 'col-md-6' style="border-left: 3px solid #e8e8e8; min-height:1300px">
                <div style="margin-top: 15px" class="row">
                    <div class="col-md-12 " style="padding: 10px">
                        <span style="margin: 10px; display: inline-block; vertical-align: middle;"><b>Chọn ảnh đại diện cho sản phẩm</b></span>
                        <button id='main_img' type="button" style="margin: 10px; width: 105px" class="btn btn-success pull-left upImgs" data-toggle="modal" data-target="#m_item">Ảnh chính</button>
                        </div>
                    <div class="col-md-12" style="padding: 10px">
                        <div style=" width: 60%">
                            <img id="_main_img" style="width: 100%; height:auto">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 15px" class="row">
                    <div class="col-md-12 " style="padding: 10px">
                        <span style="margin: 10px; display: inline-block; vertical-align: middle;"><b>Chọn ảnh bổ sung</b></span>
                        <button id='compl_img_1' type="button" style="margin: 10px" class="btn btn-success pull-left upImgs" data-toggle="modal" data-target="#m_item">Ảnh bổ sung</button>
                        </div>
                    <div class="col-md-12" style="padding: 10px">
                        <div style=" width: 60%">
                            <img id="_compl_img_1" style="width: 100%; height:auto">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 15px" class="row">
                    <div class="col-md-12 " style="padding: 10px">
                        <span style="margin: 10px; display: inline-block; vertical-align: middle;"><b>Chọn ảnh bổ sung</b></span>
                        <button id='compl_img_2' type="button" style="margin: 10px" class="btn btn-success pull-left upImgs" data-toggle="modal" data-target="#m_item">Ảnh bổ sung</button>
                        </div>
                    <div class="col-md-12" style="padding: 10px">
                        <div style=" width: 60%">
                            <img id="_compl_img_2" style="width: 100%; height:auto">
                        </div>
                    </div>
                </div>
                <div class = 'col-md-12'>
                    <button id = "bnt_update" type="button" style="margin: 10px" class="btn btn-success pull-right col-centered"><i class="fa fa-upload"></i> Cập nhật</button>
                </div>         
            </div>
        </div>
    </div>
    <div class = 'col-md-3'>
        <div id='sidebar' class='sidebar'>
            <div id="myCalendar"></div>
            <hr>
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <marketing-message>Hướng dẫn</marketing-message>
                    </div>
                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. Aliquam in felis sit amet augue.</div>
                </div>
        </div>
    </div>
    <hr>
</div>    
<div class="row" id = "continueButton">
    <div class="container-fluid">
        <div class = 'col-md-12' style="text-align: center">            
            <button id = "bnt_deleteItem"  style="margin: 10px; width: 146px" class="btn btn-success" >Xóa sản phẩm </button>
            <button id = "bnt_continues" onclick="location.href='/createNewShop/addItem'" type="button" style="margin: 10px" class="btn btn-success " >Tạo sản phẩm mới</button>
        </div>
    </div>
</div>
<div id="end-offset">
    <footer>
        <div class="container-fluid" style="background-color:rgba(0,0,0,.65); ">
            <!--/col-->
        </div>
        <div style=" width: 100%; background-color: rgba(0,0,0,.85); height: 90px;">
            @Copyright:abcd@abc.jsc
        </div>
    </footer>
</div>


<div class="modal fade" id="m_item" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn hình ảnh cho sản phẩm .</h4>
            </div>
            <div class="modal-body">                
                <div class="row">
                    <div class="col-md-9">
                        <div class="imageBox product" id='itemImg' >
                            <div class="thumbBox" id = "thumbItem"></div>
                            <div class="spinner" style="display: none" id = "spinnerIcon" >Loading...</div>
                            <div id = 'openInput' class="spinner" style="background-color: rgba(0,0,0,0) color: #333"><h3>Click here ....</h3></div>
                        </div>                        
                    </div>
                    <div class="col-md-3">
                        <p>Drag a image to take best picture</p>
                        <div class="preview">
                            <img id='icon_preview' src="" style="border: 1px solid #555">
                        </div>
                        <div class="action">
                            <span class="file-input btn btn-primary btn-file">
                                Browse&hellip;
                                <input type="file" multiple id='iconFile'>
                            </span>
                            <!--input type="button" id="btnCrop" class="btn btn-primary btncrop" value="Crop"-->
                            <input type="button" id="icon_btnZoomIn" class="btn btn-primary" value="+" style="float: right">
                            <input type="button" id="icon_btnZoomOut" class="btn btn-primary" value="-" style="float: right">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
</div>
<div id="phasebeam">
    <canvas width="700" height="650"></canvas>
    <canvas width="700" height="650"></canvas>
    <canvas width="700" height="650"></canvas>
</div>
<script type="text/javascript" src="/public/js/phasebeam.js"></script>
</body>
<script type="text/javascript" src='/public/js/utils.js'></script>
<script type="text/javascript" src="/public/js/Crypto/cryptoUtils.js"></script>
<script type="text/javascript" src="/public/js/ImageSelector/chiplcrop.js"></script>
<script type="text/javascript">
$(function() {
    // $('#nav-wrapper').height($("#nav").height());
    // $('#nav-wrapper').height(200);
    $('#nav').affix({
        offset: {
            top: function() {
                // Do other stuff here-- chipl
                return $('#start-offset').offset().top / 2;
            }
        }
    });
    // Sidebar affix
    $('#sidebar').affix({
        offset: {
            top: $('#start-offset').offset().top + 30,
            bottom: $('#end-offset').outerHeight() + 30
        }
    }).on('affix.bs.affix', function() { // before affix
        $(this).css({
            /*'top': headerHeight,*/ // for fixed height
            'width': $(this).outerWidth() // variable widths
        });
    }).on('affix-bottom.bs.affix', function() { // before affix-bottom
        // $(this).css('bottom', 'auto'); // THIS is what makes the jumping
        console.log($('#end-offset').outerHeight() - 20);
    });;

});

$(document).ready(function() {
    var node = document.createElement("calendar");
    var parent = document.getElementById("myCalendar");
    calendar(node, parent);

    var uploadImgs = document.querySelectorAll(".upImgs");
    for(var i = 0 ; i< uploadImgs.length; i ++){        
        uploadImgs[i].addEventListener("click", function(el){
            uploadImageItem(this);
        }, false)
    }
    var inputItems = ['_productName', '_country_ofOrigin', '_brandName', '_productId', '_productDescription', '_categories', '_isNewProduct' ,'_isHotProduct', '_oldPrice', '_newPrice','_unit'];
    for (var i = 0 ; i < inputItems.length; i ++){
        document.getElementById(inputItems[i]).addEventListener("change",function(e){
            getInputData(this);
        }, false);
    }
    var uploadBnt = document.querySelector("#bnt_update");
    uploadBnt.classList.add("hiddenElem");
    uploadBnt.addEventListener('click',function(e){
        uploadAllItem();
    },false);
    document.getElementById('_oldPrice').addEventListener('input', function(e){
        checkValidNumber(this);
    },false);
    document.getElementById('_newPrice').addEventListener('input', function(e){
        checkValidNumber(this);
    },false);
    document.getElementById('bnt_deleteItem').addEventListener('click',function(e){
        removeItem();
    },false);    

});

function checkValidNumber(elem){
    var _ch = elem.value.substring(elem.value.length-1, elem.value.length);
        var validChars = "1234567890.,";        
        if (validChars.indexOf(_ch.toLowerCase())== -1){
            var _display = elem.value.substring(0,elem.value.length -1);
            elem.value = _display;
            return;
        }
}

var imgs = [];
var role_element;
options = {
        imageBox: '#itemImg',
        thumbBox: '#thumbItem',
        spinner: '#spinnerIcon',
        imgSrc: ''
    }
cropper = new cropbox(options, itemPreview);
document.querySelector('#icon_btnZoomIn').addEventListener('click', function() {
            cropper.zoomIn();
        })
document.querySelector('#icon_btnZoomOut').addEventListener('click', function() {
            cropper.zoomOut();
    })
var base64_img;

$('#m_item').on('hidden.bs.modal', function hidden(e) {
    if(role_element == "main_img"){
        imgs[0] = new Object();
        imgs[0].image = base64_img;
        if(!imgs[0].name){
            imgs[0].name = productId + ".0";    
        }        
        post_data.imgName[0] = imgs[0].name;
        imgs[0].isDownloaded = false;
        document.querySelector("#_main_img").setAttribute('src', imgs[0].image);
    }
    if(role_element == "compl_img_1"){
        imgs[1] = new Object();
        imgs[1].image = base64_img;
        if(!imgs[1].name){
            imgs[1].name = productId + ".1";    
        }
        post_data.imgName[1] = imgs[1].name;
        imgs[1].isDownloaded = false;
        document.querySelector("#_compl_img_1").setAttribute('src', imgs[1].image);
    }
    if(role_element == "compl_img_2"){
        imgs[2] = new Object();
        imgs[2].image = base64_img;
        if(!imgs[2].name){
            imgs[2].name = productId + ".2";    
        };
        imgs[2].isDownloaded = false;
        post_data.imgName[2] = imgs[2].name;
        document.querySelector("#_compl_img_2").setAttribute('src', imgs[2].image);
    }
    document.querySelector("#m_item").removeEventListener('hidden.bs.modal',hidden,false);
    document.getElementById("openInput").style.display= null;
    document.getElementById('icon_preview').setAttribute('src',"");
    options.imgSrc = '';
    cropper.resetOption(options);
    if(checkMissingInfo() == false && checkImageArrays(imgs) == true){
        var uploadBnt = document.querySelector("#bnt_update");
        uploadBnt.classList.remove("hiddenElem");
    }    
});
$('#m_item').on('shown.bs.modal', function showUp() {
    document.querySelector("#m_item").removeEventListener('shown.bs.modal',showUp,false);
    cropper.resetOption(options);
});
function uploadImageItem(el){
    function iconFile_click(){
        document.getElementById("iconFile").click();
        document.getElementById("openInput").removeEventListener('click',iconFile_click,false);
    }    
    document.getElementById("openInput").addEventListener('click',iconFile_click,false);
    document.querySelector('#iconFile').addEventListener('change', function clicked(el){
        if(this.value == null){
            return;
        }        
        getImage(this);        
    }, false);
    role_element = el.id;
    function getImage(elem){    

        document.getElementById("openInput").style.display= "none";  
        var reader = new FileReader();
        
        reader.onload = function(e) {        
            options.imgSrc = e.target.result;                    
            cropper.resetOption(options);
        }
        reader.readAsDataURL(elem.files[0]);        
        elem.files = [];
        elem.value = null;
    }
}
function itemPreview(data) {
    base64_img = data;
    document.getElementById('icon_preview').setAttribute('src',data);
}
var post_data = {};
post_data.isNewproduct = false;
post_data.isHotProduct = false;
post_data.imgName = [];
// Update by realtime with input (oninput) events
function getInputData(elem){    
    var _id = elem.id;
    console.log(_id, elem);
    switch (_id){
        case '_productName':
            post_data.productName = elem.value
            break;
        case '_country_ofOrigin':
            post_data.country_ofOrigin = elem.value
            break;
        case '_brandName' :
            post_data.brandName = elem.value
            break;
        case '_productId' :
            post_data.productId = elem.value
            break;
        case '_productDescription' :
            post_data.productDescription = elem.value
            break;
        case '_categories' :
            post_data.categories = elem.value.split(",")
            break;
        case '_isNewProduct' :
            post_data.isNewproduct = elem.checked;
            break;
        case '_isHotProduct' :
            post_data.isHotProduct = elem.checked;
            break;
        case '_oldPrice':
            post_data.oldPrice = elem.value
            break;
        case '_newPrice':
            post_data.newPrice = elem.value
            break;
        case '_unit':
            post_data.unit = elem.value
            break;
    }
    console.log(checkMissingInfo(),post_data);
    if(checkMissingInfo() == false && checkImageArrays(imgs) == true){
        // upload image
        // upload item
        var uploadBnt = document.querySelector("#bnt_update");
        uploadBnt.classList.remove("hiddenElem");
    }
};
function checkMissingInfo(){
    var inputItems = ['_productName', '_country_ofOrigin', '_brandName', '_productId', '_productDescription', '_categories','_oldPrice','_newPrice', '_unit'];
    for (var i = 0; i < inputItems.length; i ++){
        var value = document.getElementById(inputItems[i]).value
        if (!value ){                
            return true;
            break;
        }
    }
    return false;
}

function checkImageArrays(arr){
    for (var i = 0;i<3; i ++){
        if(! arr[i]){
            return false;
            break;
        }
    }
    return true;
}

function uploadAllItem(){
    for(var i = 0; i < 3; i ++){
        uploadImage('Products',imgs[i]);
    }
    uploadItem();
}


function uploadImage(str_objType, img){
    // create encrypted temporary JWT from app_token    
    if(img.isDownloaded == true){
        return;
    }
    // check Item validation
    var _data = {
        userName: post_data.fb_uid,
        password: app_token
    };    
    // _aes_key = cryptoUtil.generateAESKey();    
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    if (str_objType == "Products"){
        json_data.img = img.image;    
        json_data.imgName = img.name;
    }else{
        console.log("err");
        return;
    }

    json_data.u_type = str_objType;
    $.ajax({
        // url: './userToken',
        url: '/api/uploadImage',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            // 
            if (obj.err != 0 || obj.err == null) {                 
                return;
            }            
        }
    });

}
function uploadItem(){
    var _data = {
        userName: post_data.fb_uid,
        password: app_token
    };    
    // _aes_key = cryptoUtil.generateAESKey();    
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    json_data.item = post_data;
    // console.log("from add Item:",post_data);
    $.ajax({
        // url: './userToken',
        url: '/api/updateItem',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            // 
            if (obj.err != 0 || obj.err == null) {                 
                return;
            }
            console.log(obj);
            var msg_info = document.getElementById('msg_info');
            msg_info.classList.remove('hiddenElem')
        }
    });    
}


var RSAPublicKey = <%-JSON.stringify(data)%>;
var itemNumber = <%-JSON.stringify(itemNumber)%>;
document.querySelector('#_productId').value = itemNumber;
post_data._productId = itemNumber;
var isItem = <%-JSON.stringify(isItem)%>;
var origin_item = <%-JSON.stringify(item)%>;
// console.log(origin_item);
var productId = itemNumber;
console.log(origin_item, isItem);

function updateItem(){
    if(isItem == true){
        var inputItems = ['_productName', '_country_ofOrigin', '_brandName', '_productDescription','_oldPrice','_newPrice','_unit' ];
        for (var i = 0;i< inputItems.length; i ++){
            var elem = inputItems[i].substring(1);        
            document.getElementById(inputItems[i]).value = origin_item[elem];
            post_data[elem] = origin_item[elem];
        }
        document.getElementById('_productId').value = origin_item._productId;
        var cats = origin_item['categories'];
        post_data.categories = cats;
        // for(var i = 0;i<cats.length;i++){
            document.getElementById('_categories').value += cats.toString();
        // }
        document.getElementById('_isNewProduct').checked = (origin_item['isNewproduct']=='true');
        document.getElementById('_isHotProduct').checked = (origin_item['isHotProduct']=='true');
        post_data.isNewproduct = origin_item['isNewproduct'];
        post_data.isHotProduct = origin_item['isHotProduct'];
        var imgName = origin_item.imgName;
        post_data.imgName = imgName;
        document.getElementById('_main_img').setAttribute('src',"/public/products/" + imgName[0] + ".png");
        document.getElementById('_compl_img_1').setAttribute('src',"/public/products/" + imgName[1] + ".png");
        document.getElementById('_compl_img_2').setAttribute('src',"/public/products/" + imgName[2] + ".png");
        for(var i = 0; i< 3; i ++){
            imgs[i] = new Object();
            imgs[i].isDownloaded = true;
        }
        console.log("checkMissingInfo:",checkMissingInfo());
        if(checkMissingInfo() == false){        
            setTimeout(function(){
                document.querySelector("#bnt_update").classList.remove("hiddenElem");
            }, 100)        
        }
    }    
}

function removeItem(){
    console.log('here');
   var _data = {
    userName: post_data.fb_uid,
    password: app_token
    };    
    // _aes_key = cryptoUtil.generateAESKey();    
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey)
    };
    json_data.item = post_data;
    $.ajax({
        // url: './userToken',
        url: '/api/removeItem',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            // 
            if (obj.err != 0 || obj.err == null) {                 
                return;
            }
            console.log(obj);
            var sURL =  "/createNewShop" + '/' + 'addItem';
            console.log ('sURL', sURL);
            window.location.href = sURL;
        }
    });       
}


// Facebook

function checkLoginStatus() {
    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });
}

window.fbAsyncInit = function() {
    FB.init({
        appId: '203172309854130',
        cookie: true, // enable cookies to allow the server to access 
        // the session
        xfbml: false, // parse social plugins on this page
        version: 'v2.4' // use version 2.2
    });

    FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
    });

};

// Load the SDK asynchronously
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


var aes_key;
var app_token;

function getNewToken(uid, token) {
    // console.log("uid: ", uid);
    //    console.log("accessToken: ", token);
    var _data = {
        userName: uid,
        password: token
    };
    aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey, aes_key),
        fromCreateNewShop : 1
    };
    
    console.log('_data: ', _data);
    $.ajax({
        // url: './userToken',
        url: '/api/gettoken',

        method: 'POST',
        data: json_data,
        // contentType:'application/json',
        complete: function(data, status, jqXHR) {
            console.log('result', data);
            // console.log(typeof(data));
            var obj = JSON.parse(data.responseText);
            if (obj.err == 0) {
                var encrypted_app_token = obj.encrypted_app_token;                
                var _app_token = cryptoUtil.aesDecryptor(encrypted_app_token, aes_key);                
                app_token = JSON.parse(_app_token).app_token;
                localStorage.setItem("app_token", app_token);                
                post_data.fb_uid = uid;
                if(obj.isShop == 1){
                    updateShop(obj.shop);
                }
            }else{
                    post_data.fb_uid = null;
                }

            }
        });
}


function checkToken(uid, accessToken) {
    //1. check wheather token is existed in localStorage
    if (localStorage.getItem("app_token") === null) {
        getNewToken(uid, accessToken);
        return;
    }    
    //2. get Token from localStorage
    app_token = localStorage.getItem("app_token");
    // check Item validation
    var _data = {
        userName: uid,
        password: app_token
    };
    // _aes_key = cryptoUtil.generateAESKey();
    var json_data = {
        data: cryptoUtil.EncryptJSON(_data, RSAPublicKey),
        fromCreateNewShop : 1
    };
    $.ajax({
        // url: './userToken',
        url: '/api/checktoken',
        method: 'POST',
        data: json_data,
        complete: function(data, status, jqXHR) {
            var obj = JSON.parse(data.responseText);
            if (obj.err != 0) {
                getNewToken(uid, accessToken);
                return;
            }
            if(obj.isShop == 1){                
                updateShop(obj.shop);
            }
            post_data.fb_uid = uid;
        }
    });
}

function updateShop(shop){
    console.log(shop);    
    
    var masthead = document.querySelector("#masthead");    
    masthead.style.backgroundImage  = "url('/" + shop.walls +"')";
    var src = '/' + shop.avatars
    document.getElementById('_avatar').setAttribute('src',src);

    var cols = ['showName','companyName','slogan'];
    for(var i = 0; i< cols.length; i++){
        // console.log(shop[cols[i]]);
        var str_arr = shop[cols[i]].split("\n");
        document.getElementById(cols[i]).innerText = null;
        for(var j = 0; j<str_arr.length;j++){
                // console.log(str_arr[j], j);                    
                var t = document.createTextNode(str_arr[j]);
                document.getElementById(cols[i]).appendChild(t);
                var br = document.createElement("br");
                if (j != str_arr.length -1){
                    document.getElementById(cols[i]).appendChild(br);
                }                
            }
    }
    masthead.classList.remove("hiddenElem");
    masthead.classList.add('start');
    post_data.shop = shop.pathName;
    updateItem();
    var backToHomes = document.querySelectorAll('[app-backToHome=true]');
    for(var i = 0; i< backToHomes.length;i++){
            // console.log(i, backToHomes(i));
        backToHomes[i].setAttribute("href", "/"+shop.pathName);
    }
}

function fetchingInfo(callback) {
    // console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', 'GET', {
        "fields": "id,name,email"
    }, function(response) {        
        callback(response);
    });
}

function handleFBData(response) {
    // document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
    var visitorHolder = document.querySelector('#visitorHolder');        
    // console.log("visitorHolder", visitorHolder);
    var parent = visitorHolder.parentNode;
    parent.removeChild(visitorHolder);
    FB.api('/me/picture?type=large', function(response) {
        // document.getElementById("profileImage").setAttribute("src", response.data.url);
        // console.log(response.data.url);
        var _img = document.querySelector("#avatar");        
        _img.setAttribute("src", response.data.url);
        _img.style.border = "0";

    });

    var _li = document.createElement('li');
    _li.classList.add ("navbar-right");    
    // _li.style.marginTop= "10px";
    var _a = document.createElement('a');
    var _span = document.createElement('span');
    var _div = document.createElement('div');
    var _img = document.createElement('img');

    _div.classList.add('navbar-right');
    _div.style.with = "25px";
    _div.style.height = "25px";
    _div.style.width = "204x";
    _div.style.overflow = "hidden";

    _img.style.width = "25px";
    _img.style.height = "auto";
    // _img.style.paddingLeft = "10px";
    _img.setAttribute("id", "avatar");    
    _div.appendChild(_img);
    _span.appendChild(_div);

    _a.appendChild(_span);
    _a.style.color = "#fff";
    var t = document.createTextNode( String.fromCharCode(160)+ response.name +  String.fromCharCode(160));
    _a.appendChild(t);
    _li.appendChild(_a)
    parent.appendChild(_li);
    // console.log("parent", parent);    

}

// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {

    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
        fetchingInfo(handleFBData);
        var uid = response.authResponse.userID;
        var accessToken = response.authResponse.accessToken;        
        checkToken(uid, accessToken);

    } else if (response.status === 'not_authorized') {
        // The person is logged into Facebook, but not your app.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into this app.';
        addLoginListener();
    } else {
        // The person is not logged into Facebook, so we're not sure if
        // they are logged into this app or not.
        // document.getElementById('status').innerHTML += 'Please log ' +
        // 'into Facebook.';
        addLoginListener();
    }
    function addLoginListener(){
        var login = document.querySelector('#visitor');
        login.addEventListener('click',fb_enter,false);
    }    
}

function fb_enter() {
    // console.log("okie here");
    FB.login(function(response) {
        console.log(response);
        if (response.status === 'connected') {
            statusChangeCallback(response);
        }
    }, {})
}
</script>
</html>
